<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="/customer"><i class="fa fa-desktop"></i> Customer</a>
            </li>
            <li>
                <a href="/activity"><i class="fa fa-bar-chart-o"></i> Activity</a>
            </li>
            
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->